#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
}

.title{
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  text-align: center;
}

.main{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
}


